$primary: #006699;

* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

header {
	background-color: black;
	color: white;
	padding-left: 2%;
}

body {
	background-color: lightblue;
}

h2 {
	color: $primary;
}

.app {
	height: 100%;
}

.mainView {
	background-color: lightblue;
	height: 100%;
}

.wordList {
	color: gray;
}

#top-padding {
	background-color: lightblue;
}


//Styling the content displayed on screen
/* Set background color and font family */
body {background-color: rgba(255, 255, 255, 1); font-family: Aerial, Times, serif}

#search {
	margin: 0px, 0px, 0px, 0px;
	/*padding-top: 20px;*/
	padding-left: 20px;
	/*padding-right: 40px;*/
	padding-bottom: 10px;
	padding-top: 20px;
	min-width: 700px;
	max-width: 700px;
	/*background-color: #99beef;*/
	float: right;
}

input {
	margin-left: 0px;
	height: 25px;
	font-size: 17px;
	border: 1px solid #77adde;
}

form {
	margin-top: 0px;
}

/* set menu*/
#menu {
    width: 790px;
    height: 35px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    background-color: #c5b4af;
    border-radius: 6px;
	margin-left: 180px
}

#menu p {
	color: rgb(115, 115, 115);
}

/*set */
ul {
	height: auto;
	padding: 0px;
	margin: 0px;
  list-style-type: disc;
}
li {
	display: inline;
	padding: 0px;
	color: rgb(109, 109, 106);
}
a {
	text-decoration: none;
}
